* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 0, 0.233);
}

.wrap {
  display: flex;
  justify-content: center;
}

.card__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
  margin-top: 100px;
}

.card__item {
  transition: 0.6s;
  transform-style: preserve-3d;
}

.close__card {
  display: none;
}
.card__img {
  width: 150px;
  height: 200px;
  margin: 10px;
}
