.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--third-color);
  text-shadow: 2px 2px 3px var(--secondary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-color-dark);
  box-shadow: 2px 2px 10px var(--secondary-color);
}

.button--square {
  border-radius: 5px;
}

.button--transparent {
  color: var(--secondary-color);
  background-color: transparent;
}

@media (min-width: 656px) {
  .button {
    min-width: 35px;
    min-height: 35px;
    font-size: 24px;
  }

  .button__img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 655px) {
  .button {
    min-width: 25px;
    min-height: 25px;
    font-size: 1rem;
  }

  .button__img {
    width: 16px;
    height: 16px;
  }
}
