.canvas {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(3, max-content);
  gap: 20px;
  margin: 0;
  perspective: 1000px;
}

.canvas__card {
}
