.card {
  position: relative;
  width: 200px;
  height: 250px;
  list-style-type: none;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
}

.card__pair {
}

.card__disabled {
  pointer-events: none;
}

.card__flipped {
  transform: rotateY(180deg);
}

.card__open,
.card__closed {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  backface-visibility: hidden;
}
.card__open {
  transform: rotateY(180deg);
}
.card__img {
  width: 100%;
  height: 100%;
  user-select: none;
}
