.card {
  border: 2px solid var(--third-color);
  border-radius: 10px;
  cursor: pointer;
  list-style-type: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 2px 2px var(--primary-color-dark),
    2px 2px 2px 2px var(--third-color);
}

@media (min-width: 768px) {
  .card {
    width: clamp(140px, 11.46vw, 220px);
    height: clamp(190px, 14.1vw, 270px);
  }
}

@media (max-width: 767px) {
  .card {
    width: clamp(85px, 19.5vw, 150px);
    height: clamp(110px, 26vw, 200px);
  }
}

@media (min-width: 500px) {
  .card:hover {
    background-color: var(--third-color);
  }
}

@media (max-height: 550px) {
  .card {
    width: clamp(70px, 16.5vw, 125px);
    height: clamp(90px, 21.9vw, 165px);
  }
}

.card:active {
  background-color: var(--third-color);
}

.card--pair .card__blur {
  opacity: 1;
  visibility: visible;
}

.card__blur {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.card__message {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 38px;
  color: var(--primary-color);
  text-shadow: 2px 2px 5px var(--secondary-color);
  user-select: none;
}

.card--disabled {
  pointer-events: none;
}

.card--flipped {
  transform: rotateY(180deg);
}

.card__open,
.card__closed {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  backface-visibility: hidden;
}

.card__open {
  position: relative;
  transform: rotateY(180deg);
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  user-select: none;
}
