.game {
  display: flex;
  overflow: hidden;
}

.game__info {
  position: absolute;
  inset: 0;
  transform: translateY(-100%);
  background-color: var(--primary-color-dark);
  transition: transform 0.5s ease;
  z-index: 200;
}

.game__info--open {
  transform: translateY(0);
}

@media (min-width: 992px) {
  .game {
    justify-content: space-between;
  }

  .game__wrap {
    flex-grow: 1;
    position: relative;
    padding-top: 2px;
  }

  .game__score {
    position: relative;
  }

  .game__info {
    border-right: 2px solid var(--third-color);
  }
}

@media (max-width: 991px) {
  .game {
    justify-content: center;
  }

  .game__score {
    position: absolute;
    top: 0;
    right: 0;
  }
}
