.page {
  font-family: "Compacta", sans-serif;
}

.page__body {
  margin: 0;
  background-color: var(--secondary-color);
}

.page__container {
  max-width: 1820px;
  padding: 0 clamp(20px, 2.61vw, 50px);
  margin: 0 auto;
}

.page__logo {
  position: relative;
}

.page__dialog {
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .page__backdrop {
    position: absolute;
    inset: 0;
  }
}

.page__game {
  position: relative;
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px clamp(20px, 1.6vw, 30px);
  max-width: 1820px;
}

.page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--third-color);
}

@media (min-width: 656px) {
  .page__game {
    min-height: calc(100vh - (54px + 104px + 10px));
  }

  .page__header {
    margin: 0 auto 10px auto;
  }
}

@media (max-width: 655px) {
  .page__game {
    min-height: calc(100vh - (54px + 84px));
  }

  .page__header {
    margin: 0 auto;
  }
}

@media (max-height: 550px) {
  .page__game {
    min-height: calc(100vh - (34px + 84px));
  }
}
