.page {
  font-family: "Compacta", sans-serif;
}

.page__body {
  margin: 0;
  background-color: var(--secondary-color);
}

.page__container {
  max-width: 1820px;
  padding: 0 clamp(10px, 2.61vw, 50px);
  margin: 0 auto;
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px clamp(10px, 1.57vw, 30px);
  margin: 0 auto 10px auto;
  max-width: 1820px;
}

.page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--third-color);
}
