.player {
  display: flex;
}

.player__bar {
  align-self: center;
  position: relative;
  border: 2px solid var(--primary-color-dark);
  background-color: white;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-dark)
  );
  background-repeat: no-repeat;
}

.player__added-message {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translate(-120%, -50%);
  color: var(--third-color);
  text-shadow: 2px 2px 5px var(--primary-color);
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.player__added-message--hide {
  opacity: 0;
  visibility: hidden;
}

.player__lvl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.player__img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color-dark);
  border-radius: 50%;
  background-color: var(--third-color);
}

@media (min-width: 992px) {
  .player__button-group {
    display: none;
  }
}

@media (max-width: 991px) {
  .player__button-group {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(50%);
  }
}

@media (min-width: 656px) {
  .player {
    gap: 10px;
  }

  .player__bar {
    width: 300px;
    height: 30px;
    border-radius: 15px;
  }

  .player__added-message {
    font-size: 1.5rem;
  }

  .player__img-wrap {
    width: 80px;
    height: 80px;
  }

  .player__img {
    width: 55px;
    height: 75px;
  }
}

@media (max-width: 655px) {
  .player {
    gap: 5px;
  }

  .player__bar {
    width: clamp(140px, 38.5vw, 250px);
    height: 20px;
    border-radius: 10px;
  }

  .player__lvl {
    font-size: 0.8rem;
  }

  .player__added-message {
    font-size: 1rem;
  }

  .player__img-wrap {
    width: 60px;
    height: 60px;
  }

  .player__img {
    width: 40px;
    height: 55px;
  }
}
