.score {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--primary-color-dark);
}

.score__title {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 10px 10px 0 10px;
  font-size: 32px;
  font-weight: normal;
  color: var(--third-color);
  text-shadow: 2px 2px 3px var(--secondary-color);
}

.score__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0 40px;
}

.score__item {
  font-size: 20px;
}
