.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table__header {
  width: 70px;
  font-size: 1.3rem;
  font-weight: normal;
}

.table__data {
  font-size: 1.3rem;
  text-align: center;
}

.table__data-img {
  width: 35px;
  height: 50px;
}
